<footer class="footer {{#ifpage 'index'}}footer_home{{/ifpage}}">
  <div class="container align-items-between">
    <div class="row justify-content-between">
      <div class="col-8 col-sm-5 col-md-4">
        <a class="logo" href="/{{#if lang_de}}de{{else}}en{{/if}}/">
          <img src="{{root}}assets/img/logo.svg" alt="The Corona-Warn-App – Open Source Projekt" />
        </a>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="copyright text-center text-sm-left order-2 order-sm-1 py-2">
        {{#if language.copyright}}
        <a href="{{language.copyright.url}}"{{#if language.copyright.external}} target="_blank" rel="noopener noreferrer"{{/if}}>{{language.copyright.title}}</a>
        {{/if}}
      </div>
      <div class="privacy text-center text-sm-right order-1 order-sm-2 py-2">
        <a href="/{{#if lang_de}}de{{else}}en{{/if}}/privacy/" class="px-2">{{#if lang_de}}Datenschutzerklärung{{else}}Privacy statement{{/if}}</a>
        <a href="/{{#if lang_de}}de{{else}}en{{/if}}/imprint/" class="px-2">{{#if lang_de}}Impressum{{else}}Legal Notice{{/if}}</a>
      </div>
    </div>
  </div>
</footer>
