
<section class="section_bg-white comment">
    <div class="container">

        <div class="container-inner container-inner_lg">

            <div class="text-center">
                <picture>
                    <img src="{{page-contents.section-main.image.url}}" title="{{page-contents.section-main.image.title}}" alt="" />
                </picture>
            </div>

            <div class="text-center">
                {{> headline-component title=page-contents.section-main.headline.title}}
            </div>

            <div class="text-center">
                {{> text-component
                    textblock=page-contents.section-main.headline.textblock
                    button=page-contents.section-main.headline.button}}
            </div>

        </div>
    </div>
</section>